<div class="panel panel-default">
  <div class="panel-heading">{{titulo}} Cliente</div>
  <div class="panel-body">
    <div class="container-fluid col-sm-12">   
    <form class="col" #form="ngForm" (ngSubmit)="guardarCliente(form.value)">
      <div class="form-group">
        <label>Nombre o Razón social:</label>
        <input type="hidden" class="form-control" placeholder="John" name="nombreRazonSocial" [(ngModel)]="_id" ngModel>
        <input type="text" class="form-control" placeholder="John" name="nombreRazonSocial" [(ngModel)]="nombreRazonSocial" ngModel required>
      </div>
           
      <div class="form-group">
		  <label>Tipo Persona: </label>        
		  <select class="form-control" [(ngModel)]="tipoPersona"  ngModel required>	
		  	<option *ngFor="#tpersona of razonSocial" [value]="tpersona._id" [attr.selected] = "tipoPersona === tpersona._id ? 'selected' : null"  >{{tpersona.tipo}}</option>		   
		  </select>
	  </div>
	
	  <div class="form-group">	
        <label>Rfc:</label>        
        <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="rfc" ngModel required>
      </div>

      <div class="form-group">
        <label>Dirección:</label><br/>  
        <label>Calle:</label>        
        <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="calle" ngModel required>   
         <label>Numero Exterior:</label>        
        <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="numExt" ngModel required>
        <label>Numero Interior:</label>        
        <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="numInt" ngModel required>
        <label>Colonia:</label>        
        <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="colonia" ngModel required>
        <label>Delegación Municipio:</label> 
        <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="delgMunicipio" ngModel required>  
        <label>Codigo Postal:</label>        
        <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="cp" ngModel required>   
         <label>Ciudad:</label><br/> 
         <label>Estado:</label>        
		  <select class="form-control" [(ngModel)]="estado"  (ngModelChange)="cmbEstado($event)" >
		  		 <option value=1>Mex</option>
		  		 <option value=2>est</option>
		    <!-- <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option> -->
		  </select>
		  <label>Pais:</label>        
		 <select class="form-control" [(ngModel)]="pais"  ngModel >	
		  	<option *ngFor="#p of pais" [value]="p.id">{{p.estado}}</option>		   
		  </select>  
		   <label>Referencias:</label> 
         <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="referencias" ngModel required>        
      </div>  

         <label>Contacto:</label> 
         <input type="text" class="form-control" placeholder="John" name="firstName" [(ngModel)]="personaContacto" ngModel required>
         <label>Telefono:</label> 
         <input type="text"class="form-control" placeholder="John" name="firstName" [(ngModel)]="telefono"  ngModel required>   
        <label>Correo:</label> 
        <input type="email" class="form-control" placeholder="John" name="firstName" [(ngModel)]="email"  ngModel required> 
      <div class="form-group">
        <button type="submit" class="btn btn-default">Guardar</button>
      </div>
    </form>
  </div>
  </div>
</div>

