<div class="container cols-sm-12">
  <div class="panel panel-default">
      <div class="panel-heading">Buscar Cliente</div>
      <div class="panel-body">
        
          <input name="search" placeholder="Nombre / Razon Social" type="text" [(ngModel)]="nombreRazonSocial" class="ng-pristine ng-valid ng-touched">
          <input name="search" placeholder="Correo" type="text" [(ngModel)]="correo" class="ng-pristine ng-valid ng-touched">
          <input name="search" placeholder="Rfc" type="text" [(ngModel)]="rfc" class="ng-pristine ng-valid ng-touched">
          <input name="search" placeholder="contacto" type="text" [(ngModel)]="contacto" class="ng-pristine ng-valid ng-touched">
          <button type="button" (click)="getCliente()" class="btn btn-primary glyphicon glyphicon-search" style="min-width: 9em;"></button>
          
      </div>
  </div>

    <div class="table-responsive">  
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>#</th>
            <th>Nombre / Razon Social</th>
            <th>Persona</th>
            <th>Activo</th>
            <th>Correo</th>
            <th>Eventos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#cliente of clientes">
            <th scope="row">1</th>
            <td>{{cliente.nombreRazonSocial}}</td>
            <td>{{cliente.tipoPersona.tipo}}</td>
            <td>{{cliente.activo}}</td>
            <td>{{cliente.email}}</td>
            <td>
            <button (click)="editarCliente(cliente)" class="glyphicon glyphicon-edit btn-info"></button>
            <button class="glyphicon glyphicon-trash btn-danger"></button>
            <button class="glyphicon glyphicon-ok btn-info"></button>
            <button class=" glyphicon glyphicon-list-alt btn-primary"></button>        
            </td>    
          </tr>    
        </tbody>
      </table>
    </div>

</div>