  <div class="container-fluid">

    <div class="navbar-header">
    
    <a class="navbar-brand" >Cliente</a>

      <!-- <a class="navbar-brand" [router-link]="['/Samples']">Angular2-Bootstrap</a>
      
      <a class="navbar-brand" [router-link]="['/Sample', {name: 'carousel'}]">Carousel</a>
      
      <a class="navbar-brand" [router-link]="['/Sample', {name: 'alert'}]">Alert</a> -->

    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">

        <li><a href="https://github.com/mlaval/angular2-bootstrap">salir</a></li>

      </ul>

    </div>

  </div>