

<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<img src="assets/img/SB-admin.png" width="150px" class="user-avatar" />
			<h1>System</h1>
			<form #miloginform="ngForm" (ngSubmit)="onSubmit()" role="form">
				<div class="form-content">
					
					<div class="form-group">
						<input type="text"  #cusuario="ngForm" ngControl="cusuario" placeholder="Usuario" [(ngModel)]="usuario" required>
						<span *ngIf="!cusuario.valid">*</span>
					</div>
					
					<div class="form-group">
						<input type="password"  #cpassword="ngForm" ngControl="cpassword" placeholder="Password" [(ngModel)]="contrasena" required>	
						<span *ngIf="!cpassword.valid">*</span>				
					</div>
				</div>

				<input class="btn btn-success" type="submit" value="login" [disabled]="!miloginform.form.valid">
				<!-- <a class="btn btn-success" (click)="iniciaSession()"> Log in </a>				
				&nbsp;
				<a type="submit" class="btn btn-success" routerLink="/signup">Register</a> -->
			</form>
		</div>	
	</div>
</div> 
<router-outlet></router-outlet>




<!-- <center>Esto es solo una prueba</center>

	<ul>
		<li>{{login.usuario}}</li>
		<li>{{login.contra}}</li>
	</ul> -->