<!-- <nav *ngIf="menu" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">System</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cliente
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  [routerLink]="['Cnuevo']">Alta</a>
          <a class="dropdown-item" [routerLink]="['Cbuscar']">Buscar</a>          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cuenta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" >Alta</a>
          <a class="dropdown-item" >Buscar</a>          
        </div>
      </li>
    </ul>
  </div>
</nav>
 -->
<nav *ngIf="menu" class="navbar navbar-inverse"> 
  <div class="container-fluid"> 
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
      </button> <a href="#" class="navbar-brand">Brand</a> 
    </div> 
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="height: 1px;"> 
            <ul class="nav navbar-nav">
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cliente
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  [routerLink]="['Cnuevo']">Alta</a>
          <a class="dropdown-item" [routerLink]="['Cbuscar']">Buscar</a>          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cuenta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" >Alta</a>
          <a class="dropdown-item" >Buscar</a>          
        </div>
      </li>
           </ul> 
          </div> 
  </div> 
</nav>
<!-- <div *ngIf="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container-fluid">

    <div class="navbar-header">
    
    <a class="navbar-brand" [routerLink]="['Cnuevo']">Cliente</a>

      <a class="navbar-brand" [router-link]="['/Samples']">Angular2-Bootstrap</a>
      
      <a class="navbar-brand" [router-link]="['/Sample', {name: 'carousel'}]">Carousel</a>
      
      <a class="navbar-brand" [router-link]="['/Sample', {name: 'alert'}]">Alert</a>

    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">

        <li><a  (click)="logout()">salir</a></li>

      </ul>

    </div>

  </div>
</div> -->
<!-- main app container -->

    <div class="container">
        <div >
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>


<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial" target="_top">Angular 2 User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>